<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <a href="#" class="active" id="login-form-link">Login</a>
            </div>
            <div class="col-xs-6">
              <a href="#" id="register-form-link">Register</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" role="form"
                    style="display: block;">
                <div class="form-group">
                  <input type="text" name="username" id="username" tabindex="1" class="form-control"
                         placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" id="password" tabindex="2" class="form-control"
                         placeholder="Password">
                </div>
                <div class="form-group text-center">
                  <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                  <label for="remember"> Remember Me</label>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="button" name="login-submit" id="login-submit" tabindex="4"
                             (click)="login()"
                             class="form-control btn btn-login" value="Log In">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="https://phpoll.com/recover" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<div class="date-select" role="application">
  <div class="date-input" id="dateSelect"
       tn-enter="calFocus = true;isActive = !isActive;showCurrentDate(date)"
       (click)="calFocus = true;isActive = !isActive;showCurrentDate(date)"
       ng-blur="onOffClick_event();calFocus = false;"
       tn-off-click="clicked()"
        tabindex="0">
    <input class="input-box" tabindex="-1"
           [(ngModel)]="date"
           required="isDateRequired" readonly/>
    <i class="icon-icon_calendar tn-date-selector-calendar-icon"></i>
  </div>

  <div class="popup-menu tn-date-selector-popup tn-date-selector-menu" id="tn_calendar"
        *ngIf="isActive" >
    <div class="menu" tn-off-click="onOffClick_event();"
         >
      <div class="caret"></div>

      <div class="tn-date-selector">
        <div class="tn-datepicker-title">Date</div>
        <div class="tn-datepicker-calender">
          <div class="tn-datepicker-nav">
            <button type="button" class="tn-datepicker-nav-button" (click)="prev()"

                    name="previous" id="prev">
            </button>
            <span class="month-label">{{month.format("MMMM YYYY")}}</span>
            <button type="button" class="tn-datepicker-nav-button"
                    (click)="next()" name="next" id="nxt"
            >
            </button>
          </div>

          <div class="tn-datepicker-row" >
						<span class="tn-datepicker-col text-center"
                  *ngFor="let dayLabel of daysInWeek">
							<span class="tn-datepicker-day-label" title="{{dayLabel.title}}">{{dayLabel.day}}</span>
						</span>
          </div>

          <div class="tn-datepicker-row" *ngFor="let week of weeks"
               >
						<span class="tn-datepicker-col" *ngFor="let day of week.days">
							<div tabindex="-1"
                   class="tn-datepicker-day"
                   (click)="onDayClick(day);"
                   [ngClass]="getDayCls(day,datesOfInterest)">
								<button type="button"><span>{{day.number}}</span></button>
							</div>
						</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br/><hr><hr>
<h1>Export to Excel</h1>
<button class="btn btn-link" (click)="exportToExcel('#tableToExport')">
  <span class="glyphicon glyphicon-share"></span>
  Export to Excel
</button>
<div #tableToExport>
  <table border="1">
    <tr>
      <th>Team</th>
      <th>Process Type</th>
      <th>Cedent</th>
    </tr>
    <tr>
      <td>value 1</td>
      <td>value 2</td>
      <td>value 3</td>
    </tr>
    <tr>
      <td>value 4</td>
      <td>value 5</td>
      <td>value 6</td>
    </tr>
    <tr>
      <td>10.12.2015</td>
      <td>AXA Affin</td>
      <td>101024 - Quota Share QS</td>
    </tr>
  </table>
</div>
